@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@font-face {
  font-family: 'Grange';
  src: url('/fonts/Grange.ttf') ;
}

@font-face {
  font-family: 'Cardinal';
  src: url('/fonts/Cardinal.ttf') ;
}

*{
  font-family: "Prata", serif;
  font-weight: 400;
 font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* Light Theme */
    --background: 0 0% 98%; /* Light beige */
    --foreground: 0 0% 20%; /* Dark gray */
    --card: 210 7% 93%; /* Very light beige */
    --card-foreground: 0 0% 20%; /* Dark gray */
    --popover: 210 4% 96%; /* Very light beige */
    --popover-foreground: 0 0% 20%; /* Dark gray */
    --primary: 0 100% 25.1%; /* Burgundy (#800020) */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 120 30% 20%; /* Forest Green for light theme */
    --secondary-foreground: 0 0% 98%;
    --muted: 30 20% 90%; /* Lighter beige */
    --muted-foreground: 0 0% 40%; /* Medium gray */
    --accent: 45 45% 91%; /* Soft beige */
    --accent-foreground: 0 0% 20%; /* Dark gray */
    --destructive: 0 75% 40%; /* Darker burgundy */
    --destructive-foreground: 0 0% 100%; /* White */
    --border: 0 0% 75%; /* Light gray */
    --input: 0 0% 89.8%; /* Light gray, for input fields */
    --ring: 0 100% 25.1%; /* Burgundy (#800020), for focus rings */
    --radius: 0.3rem; /* Rounded corners */
  }

  .dark {
    /* Dark Theme */
    --background: 0 0% 5%; /* Shifted to a deeper black */
    --foreground: 0 0% 98%; /* Light beige */
    --card: 0 0% 10%; /* Deeper dark, for dramatic effect */
    --card-foreground: 0 0% 98%; /* Light beige */
    --popover: 0 0% 10%; /* Deeper dark */
    --popover-foreground: 0 0% 98%; /* Light beige */
    --primary: 0 100% 25.1%; /* Burgundy (#800020) */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 120 30% 25%; /* Darker Forest Green for dark theme */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 0%; /* Absolute black for more drama */
    --muted-foreground: 0 0% 75%; /* Light gray */
    --accent: 30 25% 40%; /* Dark beige */
    --accent-foreground: 0 0% 98%; /* Light beige */
    --destructive: 0 75% 40%; /* Darker burgundy */
    --destructive-foreground: 0 0% 100%; /* White */
    --border: 0 0% 10%; /* Deeper dark for borders */
    --input: 0 0% 10%; /* Darker, for input fields */
    --ring: 0 100% 25.1%; /* Burgundy (#800020), for focus rings */
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
